<h3>Carrito de Compras</h3>


<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Imagen</th>
        <th>Libro</th>
        <th>Cantidad</th>
        <th>Subtotal</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of cartList">
        <td >
          <img class="mini" src={{book.image}} alt="">
          </td>
        <td>{{book.title}}</td>
        <td>{{book.quantity}}</td>
        <td>{{book.price*book.quantity}}</td>
      </tr>
    </tbody> 
  </table>

  <div class="alert alert-dark" role="alert">El total de su compra es: 
    <h2 class="badge bg-success">{{total() | currency}}</h2>
  </div>


</div>
